
/*
  Set default font family to sans-serif. Prevent iOS and IE text size adjust on orientation change, and
  remove default margins.
 */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

div {
	font-size: 2em;
}
